@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* { margin:0px;
    padding:0px;
    box-sizing: border-box;}

body { font-family:sans-serif;}  

.navbar { display:flex;
          background-color:#010F12;
          justify-content:space-between;
          height:60px;
          width:100%;
          align-items: center;
          padding:0px 30px;

         }
 .logo { display:flex;
        
         align-items: center;}

 .logo > h4{ letter-spacing:2px; 
             padding-left:39px;
             position: absolute;
             color:white;
             font-weight:600;
           } 
           
 .logo-img { width:50px;
             position: relative;
             height:60px;} 
             
.logo-img > img { width:100%;
                  height:100%;} 

#check { display:none;
        } 
        
.bar-btn { color:white;
           display:none;
           font-size:18px;}       
                  
ul  { display:flex;}                  
 
ul > li { list-style-type:none;
          padding:0px 5px;
        
          }  
          
ul > li > a{ text-decoration: none;
             padding:6px 8px;
             font-size: 12px;
             font-weight: bold;
             text-transform: uppercase;
             transition:0.5s;
             color:white;} 
             
ul > li > a:hover, ul > li > a.active { background-color:rgb(209, 209, 209);
                                       color:black}             
                   
             /* header section code started              */

header { background-image:url(./img/background.jpg);
         background-position: center;
         background-repeat: no-repeat;
         height:93vh;
         background-size: cover;}



 


                     /* Responsive work strted  */

@media only screen and (max-width:991px) {


.bar-btn { display:block;}

#check:checked ~ ul { left:0%;}

#check:checked ~ .bar-btn > i::before { content:"\f00d";
                                        font-size: 18px;

               
}

 ul { position:absolute;
      top:50px;
      flex-direction: column;
      height:100vh;
      text-align: center;
      left:-100%;
      transition: 0.5s;
      width:100%;
      background-color: #807f7f;
      }

 ul > li {padding: 50px 0px;} 

 ul > li > a { font-size: 14px;
               transition: none;}



 ul > li > a:hover, ul > li > a.active { background: none;
                                          color:red;}    
}   


             /* fist section code started  */

.fist-sec { background-color:#308ACE;}  

.fist-sec-title { color:white;
                  padding-top:30px;
                  text-align: center;
                  font-size:12px ;}

.prent-fist-sec { display:grid;
                  padding-bottom:70px;
                  width:800px;
                  margin:25px auto;
                  grid-template-columns: repeat(3, 1fr);
                  grid-gap:20px;}  
                  
.fist-sec-fist-card { 
                      text-align: center;
                      background-color:rgb(252, 249, 249);
                      padding:10px 8px;} 
                      
.fist-sec-fist-card > i {  font-size:18px;
                           padding:5px 0px;
                           font-weight: bold;}
                          
.fist-sec-fist-card > h3 { font-size:14px;
                           padding:5px 2px;
                           font-weight:bolder;}   
                           
.fist-sec-fist-card > p { font-size: 13px;
                          line-height:18px;}  
                          
                          
@media only screen and (max-width:688px) {

        .prent-fist-sec { display:grid;
                          width:100%;
                          grid-gap:15px;
                          grid-template-columns: repeat(1, 1fr);}

     .fist-sec-fist-card > i {  font-size:20px;
                                padding:5px 0px;
                                font-weight: bold;}
                               
     .fist-sec-fist-card > h3 { font-size:16px;
                                padding:5px 0px;
                                font-weight:bolder;}   
                                
     .fist-sec-fist-card > p { font-size: 15px;
                               line-height:20px;}                           
 

}      

@media only screen and (min-width:688px) and ( max-width:991px) {

         .prent-fist-sec {      display:grid;
                                width:100%;
                                margin:25px auto;
                                grid-template-columns: repeat(2, 1fr);
                                grid-gap:15px;;}

             .fist-sec-fist-card > i {  font-size:19px;
                                        padding:5px 0px;
                                        font-weight: bold;}
                                       
             .fist-sec-fist-card > h3 { font-size:15px;
                                        padding:5px 0px;
                                        font-weight:bolder;}   
                                        
             .fist-sec-fist-card > p { font-size: 14px;
                                       line-height:19px;}                                  


}
